<div class="document">
  <div>
    <form class="form-horizontal" id="add-form" [formGroup]="editInsumoForm" (ngSubmit)="onInsumoEditFormSubmit()">
      <div class="modal-header">
        <h4 class="modal-title" id="add-modal-label">Editar Insumo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Nome</label>
          <input type="text" class="form-control" formControlName="nome" />
        </div>
        <div class="form-group">
          <label class="control-label">Nome Fabricante</label>
          <input type="text" class="form-control" formControlName="nomeFabricante" />
        </div>
        <div class="form-group">
          <label class="control-label">Prazo Próxima Manutenção (em Meses)</label>
          <input type="text" class="form-control" formControlName="prazoProximaManutencaoEmMeses" />
        </div>
        <div class="form-group">
          <label class="control-label">Data Última Manutenção</label>
          <input type="text" placeholder="Selecione" class="form-control" bsDatepicker formControlName="dataUltimaManutencao">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
