<div class="container">
  <div class="row mt-5">
    <h3>Bem vindo(a) ao Sistema de Gestão Ambiental!</h3>
  </div>
  <div class="col-sm-6">
    <div class="card mt-4" *ngIf="isGestor">
      <div class="card-header">
        <h5 class="card-title">Manutenção de Insumos</h5>
      </div>
      <div class="card-body">
        <ngx-charts-advanced-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
</div>