  <div class="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="addNewInsumoForm" (ngSubmit)="onInsumoFormSubmit()">
        <div class="modal-header">
          <h4 class="modal-title" id="add-modal-label">Novo Insumo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Nome*</label>
            <input type="text" class="form-control" formControlName="nome" [class.is-invalid]="nome.invalid && nome.touched" />
            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="text-danger">
              <small *ngIf="nome.errors.required">
                Nome é obrigatório.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Nome Fabricante*</label>
            <input type="text" class="form-control" formControlName="nomeFabricante" [class.is-invalid]="nomeFabricante.invalid && nomeFabricante.touched" />
            <div *ngIf="nomeFabricante.invalid && (nomeFabricante.dirty || nomeFabricante.touched)" class="text-danger">
              <small *ngIf="nomeFabricante.errors.required">
                Nome Fabricante é obrigatório.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Prazo Próxima Manutenção (em Meses)*</label>
            <input type="text" class="form-control" formControlName="prazoProximaManutencaoEmMeses" [class.is-invalid]="prazoProximaManutencaoEmMeses.invalid && prazoProximaManutencaoEmMeses.touched" />
            <div *ngIf="prazoProximaManutencaoEmMeses.invalid && (prazoProximaManutencaoEmMeses.dirty || prazoProximaManutencaoEmMeses.touched)" class="text-danger">
              <small *ngIf="prazoProximaManutencaoEmMeses.errors.required">
                Prazo é obrigatório.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Data Última Manutenção*</label>
            <input type="text" placeholder="Selecione" class="form-control" bsDatepicker formControlName="dataUltimaManutencao">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fechar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!addNewInsumoForm.valid">Salvar</button>
        </div>
      </form>
    </div>
  </div>