<div class="container">
  <div class="row">
    <div class="col-12 mt-4" style="text-align:center;">
      <h3>Insumos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="addNewInsumo()" [disabled]="isGestor" class="btn btn-primary btn-xs float-right">Novo Insumo</button>
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="col-sm-12 table table-bordred table-striped mt-2">
          <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Nome Fabricante</th>
            <th>Prazo Manutenção</th>
            <th>Data Últ. Manutenção</th>             
            <th>Editar</th>
            <th>Deletar</th>           
          </thead>
          <tbody>
            <tr *ngFor="let item of insumoList">
              <td>{{item.id}}</td>
              <td>{{item.nome}}</td>
              <td>{{item.nomeFabricante}}</td>
              <td>{{item.prazoProximaManutencaoEmMeses}}</td>              
              <td>{{item.dataUltimaManutencao | date: 'dd/MM/yyyy'}}</td> 
              <td><button class="btn btn-primary btn-xs" (click)="editInsumo(item.id)" [disabled]="isGestor"><span class="fa fa-edit fa-xs"></span></button></td>
              <td><button class="btn btn-danger btn-xs" (click)="deleteInsumo(item.id, item.nome)" [disabled]="isGestor"><span class="fa fa-trash fa-xs"></span></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>

