<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">TCC - PUC Minas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Início </a>
        </li>
        <li class="nav-item">
          <a href="/insumo-list" class="nav-link" *ngIf="isLoggedIn && (isTecnico || isGestor)" routerLink="insumo-list">Insumos</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Entrar</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile"><i class="far fa-user" title="{{ username }}"></i></a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>