<div role="document">
  <div>
    <div class="modal-header">
      <h4 class="modal-title" id="add-modal-label">Deletar Insumo</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-12 control-label">Tem certeza que deseja deletar o Insumo?</label>
        <div class="col-12">
          <h3 style="color:blue;">{{ nome }}</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"></label>
        <div class="col-12">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fechar</button>
          <button type="submit" class="btn btn-primary" (click)="deleteInsumo(insumoId)" style="margin:5px;">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</div>
